@using ExtensioProcuratio.Enumerators;
@model ProjectModel
@{
    ViewData["Title"] = "Editing Project";
}

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmação</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                Tens certeza que deseja Deletar o Projeto '@Model.Name'
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <a role="button" class="btn btn-primary" asp-controller="Project" asp-action="Delete" asp-route-id="@Model.Id">Inativar</a>
            </div>
        </div>
    </div>
</div>

<div class="container-small-form">
    <form id="registerForm" asp-controller="Project" asp-action="Edit" method="post">
        <h2>Editar Projeto</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.Id" />
        <input type="hidden" asp-for="@Model.DateCreated" />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome do Projeto</label>
                    <input asp-for="@Model.Name" class="form-control" required aria-required="true" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Área de Conhecimento</label>
                    <select name="Subject" required class="form-select">
                        <option value="@SubjectAreas.None" selected>None</option>
                        <option value="@SubjectAreas.Languages">Language</option>
                        <option value="@SubjectAreas.Mathematics">Mathematics</option>
                        <option value="@SubjectAreas.Technology">Technology</option>
                    </select>
                    <span class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Tipo Projeto</label>
                <select asp-for="@Model.Type" required class="form-select">
                    <option value="@ProjectType.Research" selected>@ProjectType.Research</option>
                    <option value="@ProjectType.Education">@ProjectType.Education</option>
                    <option value="@ProjectType.Extension">@ProjectType.Extension</option>
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label>Bolsa?</label>
                <select asp-for="@Model.Bolsa" required class="form-select">
                    <option value="@true">Sim</option>
                    <option value="@false" selected>Não</option>
                </select>
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-ld-6">
            <label>Status</label>
            <select asp-for="@Model.Status" required class="form-select">
                <option value=@ProjectStatus.Started selected>@ProjectStatus.Started</option>
                <option value=@ProjectStatus.Impediment>@ProjectStatus.Impediment</option>
                <option value=@ProjectStatus.Important>@ProjectStatus.Important</option>
                <option value=@ProjectStatus.Finished>@ProjectStatus.Finished</option>
                <option value=@ProjectStatus.Undefined>@ProjectStatus.Undefined</option>
            </select>
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Edital</label>
            <input asp-for="@Model.Edital" style="width: 100%;" class="form-control" aria-required="true" />
            <span asp-validation-for="@Model.Edital" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Description">Descrição</label>
            <textarea asp-for="@Model.Description" required class="form-control input-bigbox"></textarea>
            <span asp-validation-for="@Model.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Participants">Participantes</label>
            <textarea asp-for="@Model.Participants" required class="form-control input-bigbox"></textarea>
            <span asp-validation-for="@Model.Participants" class="text-danger"></span>
        </div>
        <button id="registerSubmit" type="submit" class="btn btn-block btn-primary">Editar, Vai!</button>
    </form>
</div>

<div class="container-link-list">
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
        Inativar
    </button>
    <a class="btn btn-warning" role="button" asp-controller="Project" asp-action="AdoptionRequest" asp-route-projectId="@Model.Id">Solicitar Adoção</a>
</div>

@*<a role="button" class="btn btn-danger delete"
       data-id="@Model.Id"
       data-controller="Project"
       data-action="Delete"
       data-body-message=""
       data-redirect-url="/Project/MyProjects">Delete
</a>
*@