@model IEnumerable<ProjectModel>
@{
    ViewData["Title"] = "Global Projects";

    string StringCheck(string? value)
    {
        return value != null ? value : "-------";
    }

    int projectsPerLine = 2;
    var projects = Model.ToList();
    int j = 0;
}

<h1> Projetos Globais </h1>

@while (j < projects.Count)
{
    <div class="project-panel-container">
        @for (int i = 0; i < projectsPerLine; i++)
        {
            if (j >= projects.Count)
            {
                break;
            }

            <div class="project-panel">
                <div class="project-panel-title">
                    <h2>@projects[j].Name - @projects[j].Subject</h2>
                </div>

                <div class="project-panel-desc">
                    <div class="project-panel-title-small">
                        Criador:
                    </div>
                    @projects[j].ParentName - <a>@projects[j].ParentEmail</a>
                </div>

                <div class="project-panel-desc">
                    <div class="project-panel-title-small">
                        Descrição:
                    </div>
                    @projects[j].Description
                </div>

                <div class="project-panel-multi">
                    <div class="project-panel-desc">
                        <div class="project-panel-title-small">
                            Tipo:
                        </div>
                        @projects[j].Type
                    </div>
                    <div class="project-panel-desc">
                        <div class="project-panel-title-small">
                            Edital:
                        </div>
                        @StringCheck(projects[j].Edital)
                    </div>
                </div>

                <div class="project-panel-multi">
                    <div class="project-panel-desc">
                        <div class="project-panel-title-small">
                            Data Criação:
                        </div>
                        @projects[j].DateCreated.ToString("dd/MM/yyyy")
                    </div>

                    @if (projects[j].DateUpdated != null)
                    {
                        <div class="project-panel-desc">
                            <div class="project-panel-title-small">
                                Data Atualização:
                            </div>
                            @projects[j].DateUpdated!.Value.ToString("dd/MM/yyyy")
                        </div>
                    }
                </div>
            </div>
            j++;
        }
    </div>
}

@*<div class="table-container">
    <table class="project-table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Status</th>
                <th>Responsável</th>
                <th>Criação</th>
                <th>Atualização</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model)
            {
                <tr>
                    <td data-label="Nome" class="alt-tittle">@project.Name</td>
                    <td data-label="Descrição">@project.Description</td>
                    <td data-label="Status">@project.Status</td>
                    <td data-label="Responsável">@project.ParentName</td>
                    <td data-label="Data Criação">@project.DateCreated</td>
                    <td data-label="Data Atualização">
                        @{
                            if (project.DateUpdated is null)
                            {
                                @project.DateCreated
                            }
                            else
                            {
                                @project.DateUpdated
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>*@